<ul class="d-flex flex-column align-items-end align-items-xxl-start">
    <li routerLink="/home" class="d-flex gap-3 align-items- btn btn-outline-dark border-0 text-light rounded-pill"> 
        <i class="bi bi-twitter-x fs-3"></i> 
    </li>
    <li routerLink="/home" class="d-flex gap-3 align-items-center btn btn-outline-dark border-0 text-light rounded-pill"> 
        <i class="bi bi-house fs-4"></i> 
        <h2 class="m-0 fw-normal h5 d-none d-xxl-block">Inicio</h2> 
    </li>
    <li routerLink="/explore" class="d-flex gap-3 align-items-center btn btn-outline-dark border-0 text-light rounded-pill"> 
        <i class="bi bi-search fs-4"></i> 
        <h2 class="m-0 fw-normal h5 d-none d-xxl-block">Explorar</h2> 
    </li>
    <li routerLink="/profile" class="d-flex gap-3 align-items-center btn btn-outline-dark border-0 text-light rounded-pill"> 
        <i class="bi bi-person fs-4"></i> 
        <h2 class="m-0 fw-normal h5 d-none d-xxl-block">Perfil</h2> 
    </li>
</ul>